.products {
  position: relative;
  width: 80%;
  margin: auto;
  background-color: rgb(255, 255, 255);

  .wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .card {
      margin: 8px 10px;

    }
  }

  .fetching {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  .error {
    margin-top: 60px;
    text-align: center;
  }
}
