.products {
  position: relative;
  //width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 0 40px;

  .wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    h2 {
      font-weight: 400;
      font-size: 36px;
    }

    .card {
      margin: 8px 10px;
    }
  }

  .fetching {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  .error {
    margin-top: 60px;
    text-align: center;
  }
}
