<header>
  <nav class="upper-nav">
    <div>
      <a
        routerLink="/produkter">
        FILMSHOPPEN
      </a>
      <a
        *ngIf="loggedIn"
        routerLink="/admin/ordrar"
        class="admin">
        ADMIN
      </a>
    </div>
    <div class="login">

      <div class="dropdown">
        <button
          class="dropdown-btn"
          (click)="onToggleDropdown()"
          title="Admin">
          <fa-icon [icon]="userIcon"></fa-icon> &nbsp; <fa-icon [icon]="caretDownIcon"></fa-icon>
        </button>

        <div
          *ngIf="!loggedIn"
          routerLink="/login"
          class="dropdown-content"
          [class.dropdownOpen]="isOpenDropdown">
          <a>Logga in</a>
        </div>

        <div
          *ngIf="loggedIn"
          (click)="onLogOut()"
          class="dropdown-content"
          [class.dropdownOpen]="isOpenDropdown">
          <a>Logga ut</a>
        </div>

      </div>

    </div>

  </nav>

<!-- Endast synlig på skärmbredd under 1000px -->
  <nav class="hamburger-nav">
    <app-hamburger (toggledHamburger)="handleToggledHamburger($event)"></app-hamburger>
  </nav>


  <nav
    class="lower-nav"
    [class]="(isOpen)? 'open' : 'notopen'">

    <a
      *ngIf="loggedIn"
      class="admin-lower"
      routerLink="/admin/ordrar">
      ADMIN
    </a>

    <div><a routerLink="/produkter">FILMER</a></div>

    <div class="cart-icon">
      <a routerLink="/varukorg" title="Varukorg">
        <fa-icon [icon]="shoppingCartIcon"></fa-icon>
        <span [matBadge]="getNumberOfProductsInCart()" matBadgeOverlap="false"></span>
      </a>
    </div>
  </nav>
</header>
