nav {
  background-color: rgb(250, 250, 250);
  display: flex;

  .dropdown {
    position: relative;
    .dropdown-btn {
      background-color: rgb(250, 250, 250);
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;

      .admin-text {
        display: none;
        @media (min-width: 1000px) {
          display: inline;
        }
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      left: 0px;
      background-color: rgb(241, 241, 241);
      color: rgb(0, 0, 0);
      padding: 10px 14px;
      font-size: 14px;
      min-width: 70px;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 2px;
      z-index: 3;
      cursor: pointer;
      a {
        text-decoration: none;
        color: rgb(0, 0, 0);
      }

      @media (min-width: 1000px) {
        left: 0px;
        min-width: 170px;
        font-size: 16px;
      }
    }
    .dropdownOpen {display: block;}
  }




  a {
    text-decoration: none;
    color:  rgb(0, 0, 0);
  }

  mat-form-field {
    font-size: 16px;
    height: 4em;
  }

  .categories-form-field {
    width: 100%;
    @media (min-width: 1000px) {
      width: 200px;
    }
  }

  .cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 0 4px;
    font-size: 24px;
    cursor: pointer;

    a {
      position: relative;

      span {
        position: absolute;
      }
    }

    @media (min-width: 1000px) {
      padding: 0;
      width: 200px;
    }
  }

  .search-form {
    width: 100%;

    @media (min-width: 1000px) {
      width: 50%;
    }

    .search-form-field {
      width: 100%;

    }
  }

  .search-input {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

}

.hamburger-nav {
  @media (min-width: 1000px) {
    display: none;
  }
}

.upper-nav {
  padding: 14px 18px;
  justify-content: space-between;
  align-items: center;
}

.lower-nav {
  position: absolute;
  z-index: 2;
  padding: 14px 18px;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid rgb(202, 200, 200);

  @media (min-width: 500px) {
    width: 300px;
  }
  @media (min-width: 1000px) {
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

}

.lower-nav.open {
  display: flex;
}

.lower-nav.notopen {
  display: none;

  @media (min-width: 1000px) {
    display: flex;
  }
}
